/* background picture */

body {
	background: url(http://3.bp.blogspot.com/-Y0GbH35e8iE/TgepQJ3UkDI/AAAAAAAAD9w/k3nTNYBi5RQ/s1600/Kitchen+2.jpg) no-repeat center center fixed;
	background-size: cover;
}

/* header */

.head {
	background-color: gray;
	height: 120px;
	padding: 10px;
	border-radius: 100px;
	position: block;
	margin-right: auto;
	margin-left: auto;
}

.icon img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
}

h1 {
	text-align: center;
	font-family: Serif;
	font-style: italic;	
	font-size: 30px;
}

/* section */

.main {
	padding: 10px;
	max-width: 315px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 10px;
	background-color: white;
	font-family: Arial;
}

input {
	margin: 0 auto;
	border-radius: 10px;
	height: 20px;
}

.list li {
	width: 305px;

}

.message p {
	font-family: Serif;
	font-style: italic;
	text-align: center;
}

/* Button styles */
#clearall, #addbutt {
	height: 50px;
	width: 315px;
	background: #ff6600;
	border: 2px solid;
	text-shadow: 0 2px 2px #ccc;
	border-radius: 3px;
}


/* List item style*/

li {
	height: 30px;
	width: 290px;
	border-color: black;
	border: solid;
	list-style-type: none;
	margin-left: -45px;
	padding-left: 8px;
	padding-top: 9px;
	border-radius: 100px;
	font-size: 1.2em;
	font-family: Verdana;
}

/* jquery stuff */

#blank {
	display: none;
	padding: 5px;
	border: solid thick;
	border-color: red;
	color: black;
	border-radius: 13px;
	text-align: center;
	font-weight: bold;
	font-style: italic;
}

input {
	position: relative;
	margin: 0 auto;
	width: 315px;
}

.bought {
	text-decoration: line-through;
	color: gray;
}

.boughtit, .rev {
	float: right;
	margin-right: 10px;
	border-radius: 10px;
	background-color: #b2cccc;
}

.clear {
	float: right;
	margin-right: 10px;
	border-radius: 10px;
	background-color: red;
}
